<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Getting Started: Serving Web Content</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" th:href="@{/styles/styles.css}">
 <link rel="stylesheet" th:href="@{/styles/main-menu.css}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body class="p-2">
 <div class="main-menu-button-div p-1">
  <a th:href="@{/list-routes}">
   <button class="btn btn-primary">
    routen anschauen
   </button>
  </a>
 </div>
 <div class="main-menu-button-div p-1">
  <a th:href="@{/add-route}">
   <button class="btn btn-primary">
    route hinzufügen
   </button>
  </a>
 </div>
 <div class="main-menu-button-div p-1">
  <button class="btn btn-primary">
   tim (schupp)sen
  </button>
 </div>
</body>
</html>